<div class="container">
    <div class="balloon1"></div>
    <div class="balloon2"></div>
    <div class="balloon1"></div>
    <div class="balloon2"></div>
    <div class="balloon1"></div>
    <div class="balloon2"></div>
</div>
<div style="margin-left:10vw;" class="container rellax" data-rellax-speed="1">
    <div class="balloon1"></div>
    <div class="balloon2"></div>
    <div class="balloon1"></div>
    <div class="balloon2"></div>
    <div class="balloon1"></div>
    <div class="balloon2"></div>
</div>
<div style="margin-left:0vw;" class="container rellax" data-rellax-speed="5">
    <div class="balloon1"></div>
    <div class="balloon2"></div>
    <div class="balloon1"></div>
    <div class="balloon2"></div>
    <div class="balloon1"></div>
    <div class="balloon2"></div>
</div>