<div class="container">
    <div class="rellax cloud1" data-rellax-speed="-2"></div>
    <div class="rellax cloud2" style="margin-left:1vw;" data-rellax-speed="2"></div>
</div>

<div class="container" style="margin-left:10vw;">
    <div class="rellax cloud1" data-rellax-speed="-1"></div>
    <div class="rellax cloud2" data-rellax-speed="1"></div>
</div>

<div class="container" style="margin-left:12vw;">
    <div class="rellax cloud1" data-rellax-speed="0"></div>
    <div class="rellax cloud2" data-rellax-speed="0"></div>
</div>

<div class="container" style="margin-left:15vw;">
    <div class="rellax cloud1" style="margin-left:-5vw;" data-rellax-speed="1"></div>
    <div class="rellax cloud2" data-rellax-speed="-1"></div>
</div>

<div class="container">
    <div class="rellax cloud1" data-rellax-speed="2"></div>
    <div class="rellax cloud2" data-rellax-speed="-2"></div>
</div>