<div class="redes-container">
<div class="titulo">
    <h1>Redes</h1>
</div>


<div class="discord">

<div class="icono"></div>
<div class="info">
    Es la red social que mas uso, acá tienes mi perfil.
<div class="profile"></div>

</div>

</div>

<!--FIn discord-->

<div class="instagram" onclick="window.open('https://www.instagram.com/criskop__/','mywindow')">

    <div class="icono"></div>
    <div class="info">
    No lo uso pero ahí está:<br><br>criskop__
    </div>
    
    </div>

<!--Fin insta-->


<div class="twitter" onclick="window.open('https://twitter.com/KopCris','mywindow')">

    <div class="icono"></div>
    <div class="info">
    Tampoco lo uso pero:<br><br>Click para ir
    </div>
    
    </div>


</div>